/*
#fcf8e5
#f44a3d
#f8ecdb
#d23133
#f89b76
*/

*{
  color: #d23133;
  background-color: #fcf8e5;
  font-family: sans-serif;
}

#DATE{text-shadow: 2px 1px black; margin-top: 100px; margin-bottom: 100px;}

label{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

#APP{text-align: center;}

#LINKS{display: none;}


#USER-CONTENT{
  background-color: #d23133;
  margin: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  border: 3px solid black;
  border-radius: 1%;
  text-overflow: clip;
  word-wrap: break-word;
  white-space: pre-wrap;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5px;
  align-items:flex-start;
}


#CATEGORY{
  background-color: #f89b76;
  width: 400px;
}
/*Data ids are from the label until the text */

.contentBox{
  border: 3px solid black;
  border-radius: 1%;
  padding-bottom: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 12px 12px 3px 6px black;
}

#PHONE-DATA{
  font-size: larger;
  margin: 5px;
  border: 3px dashed #f89b76;
  width: 385px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}

#PHONE{background-color: #f89b76;}

#PASSWORD-DATA{
  font-size: larger;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 5px;
  width: 385px;
  border: 3px dashed #f89b76;

}

#PASSWORD{background-color: #f89b76;}

#URL-DATA{
  font-size: larger;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 5px;
  width: 385px;
  border: 3px dashed #f89b76;
}

#URL{background-color: #f89b76;}


#ADDRESS-DATA{
  font-size: larger;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 5px;
  width: 385px;
  border: 3px dashed #f89b76;

}

#ADDRESS{background-color: #f89b76;}


#RECIPE-DATA{
  font-size: larger;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 5px;
  width: 385px;
  border: 3px dashed #f89b76;

}

#RECIPE{background-color: #f89b76;}

#MISC-DATA{
  font-size: larger;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 5px;
  width: 385px;
  border: 3px dashed #f89b76;

}

#MISC{background-color: #f89b76;}

#COUNTER{
  color: #f89b76;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  background-color: #d23133;
  border-top: 3px dashed #f89b76;
  border-bottom: 5px double #f89b76;
}

#SAVED-TEXT-BORDER{background-color: #f44a3d;}

#SAVED-TEXT{
  color: #fcf8e5;
  text-align: left;
  padding-left: 10px;
  background-color: #f44a3d;
  font-style: italic;
  font-size: larger;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 3px dashed #f89b76;
  text-overflow: hidden;
  word-wrap: break-word;
  white-space: pre-line;
}

#ARRAY-SORT{background-color: #f89b76;}

#TEXT-SUBMIT{
  color: #f89b76;
  background-color: #d23133;
  margin: 5px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: larger;
  width: 200px;

}

.TEXT-AREA{
  color: #fcf8e5;
  background-color: #f44a3d;
  border: 3px solid #d23133;
  border-radius: 7%;
  margin: 5px;
  resize: none;

}

#INPUT-AREA{
  display: none;
  color: #fcf8e5;
  font-size: x-large;
  background-color: #f44a3d;
  border-top: 3px dashed #f89b76;
  border-bottom: 3px dashed #f89b76;
  border-right: 6px solid #f89b76;
  border-left: 6px solid #f89b76;
  padding-top: 5px;
  padding-bottom: 5px;
  text-overflow: clip;
  word-wrap: break-word;
  white-space: pre-line;
}

#DISPLAY{
  margin-top: 15px;
  background-color: #f89b76;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 15px;
}

#CONTROL-TOGGLE{
  font-size: medium;
  width: 180px;
  background-color: #fcf8e5;
}

#USER-TOGGLE{
  font-size: medium;
  width: 180px;
  background-color: #fcf8e5;
}

#CONTENT-TOGGLE
{
  font-size: medium;
  width: 380px;
  height: 30px;
  background-color: #fcf8e5;
  margin-top: 10px;
  margin-bottom: 10px;
}

#CONTROLS{
  font-size: large;
  border-top: 3px dashed #f89b76;
  border-bottom: 3px dashed #f89b76;
  border-right: 6px solid #f89b76;
  border-left: 6px solid #f89b76;
  padding-top: 5px;
  padding-bottom: 5px;
}

#SEARCH{
  color: #fcf8e5;
  margin: 10px;
}

.SEARCH-BAR{
  font-size: medium;
  color: #fcf8e5;
  background-color: #f44a3d;
}

.SEARCH-NUM{
  text-align: right;
  font-size: medium;
  color: #fcf8e5;
  background-color: #f89b76;
}

#SEARCH-ELEMENT{
  background-color: #f89b76;
  border: 8px double #f89b76;
  border-radius: 50%;
}
#SEARCH-LIST{
  border: 8px double #f44a3d;
  background-color: #f89b76;
}

#DELETE button{
  font-size: medium;
  color: #f89b76;
  background-color: #d23133;
  margin: 10px;
}

.DELETE-ENTRY{
  font-size: medium;
  color: #fcf8e5;
  background-color: #f44a3d;
}

#CLEAR-STORAGE{
  font-size: medium;
  background-color: #d23133;
  color: #f89b76;
}

#INNER-LINK{
  display: none;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 80px;
  width: 400px;
  font-size: larger;
  border: 3px solid #f89b76;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

#SCROLL-LINK{
  border: 3px dotted #d23133;
  padding: 5px;
  font-size: large;
  text-decoration: none;
}